<%- include("partials/header") -%>

<div class="page-div">
    <div class="home-block">
      <h1 class="home-title">KEEP MOVING</h1>
      <i class="fas fa-running" id="home-pic" width="70" height="70" class="d-inline-block align-top" alt="hermesFoot" loading="lazy"></i>
    </div>

</div>

<%- include("partials/footer") -%>
