<%- include("partials/header") -%>
<div class="page-div">
  <div class="outings-title">
    <h1>Outings</h1>
  </div>

  <div class="left-card-container" href="new-outing">
    <div class="card left-card">
      <a class="outings-link" href="new-outing">
        <i class="fas fa-stopwatch card-img-top outings-icon"></i>
        <div class="card-body">
          <p class="card-text">Record New Outing</p>
        </div>
      </a>
    </div>
  </div>


  <div class="right-card-container">
    <div class="card right-card">
      <a class="outings-link" href="/previous-outings">
      <i class="fas fa-book-reader card-img-top outings-icon"></i>
        <div class="card-body">
          <p class="card-text">Review Outings</p>
        </div>
        </a>
    </div>
  </div>


</div>

<%- include("partials/footer") -%>
