/* *{box-sizing: border-box;} */

html, body{
  height: 100%;
  margin: 0;
}

body {
  background-color: #f3ecc2;
}

footer{
  background-color: #f9d56e;
  color:#e8505b;
  height: 25px;
  text-align: center;
  font-weight: bold;
  z-index: 2;
}





/* Styling for header.ejs and footer.ejs */
.navBarDiv{
  background-color: #f9d56e;
  color: #e8505b;
  font-weight: 600;
}

.topLink{
  color: #e8505b !important;
  font-weight: 600;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(232, 80, 91, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: #e8505b;
}

.brand{
  font-size: 2rem;
}

.fa-running{
  padding-right: 6%;
}

.nav-item{
   text-align: right;
}

.push{
  height: 50px;
}

.wrapper{
  min-height: 100%;
  margin-bottom: -25px;

  /* z-index: -1;
  height:100%;
  margin: 0px auto;
  overflow: hidden; */
}




/* Styling for routes.ejs */

.routesPage{
  padding-top: 4vh;
  margin: auto;
  width: 90vw;
  height: 65vh;
}


.mapAndTable{
  background-color: #14b1ab;
  opacity: 0.9;
  height: 100%;
  padding-right: 0;
  margin:0 0 0 0;

  border-radius: 15px;
}


.my-routes{
margin-left: 0;
margin-bottom: 3vh;
font-size: 3rem;
color: black;
display: inline-block;
}

.routes-table-row :hover{
  cursor: pointer;
}

.routesTable{
  background-color: #f3ecc2;
  /* border-radius: 50px;
  border-style: solid;
  border-color: #14b1ab;
  height: 100%; */
}

.newRouteButton{
  display: inline-block;
  position: absolute;
  right: 5%;
}


.btnNewRoute{
  color:#14b1ab !important;
  border-color: #14b1ab !important;
}

.btnNewRoute:hover{
  background-color: #f9d56e;
}

.btnNewRoute:active{
  background-color: #14b1ab !important;
  color: white !important;
}

.table-responsive{
  display: table;
}

.table>tbody>tr>td,
.table>tbody>tr>th {
  border: none;
}

.table>thead>tr>th{
  border-color: #14b1ab;
}








/* Styling for newRoute.ejs page */
.mapboxgl-marker {
    height: 20px;
    width: 20px;
    z-index: 5;
    border: 1px solid black;
    border-radius: 50%;
    background-color: #305bad;
}

.new-route-box{
  height: 100%;
  width: 100%;
}

.new-route-controls{
  margin:auto;
  margin-top: 10.5vh;
  height: 43%;
  width: 85%;
  background-color: #f9d56e;
  border-color: #14b1ab;
  border-style: solid;
  border-radius: 15px;
}

.new-route-form{
  margin-left: 5%;
  margin-top: 5%;
}

.name-input{
  background-color: #f3ecc2;
  max-width: 100%;
}

.name-label{
  font-size: 1.25rem;
  margin-bottom:0;
}

.distance-label{
  font-size: 1.25rem;
  margin-top: 2vh;
  display: inline-block;
}

.distance-disp{
  display: inline-block;
  margin-left: 6px;
  margin-top: 2vh;
}

.distance-unit{
  display: inline-block;
  margin-left: 6px;
  margin-top: 2vh;
}

.btn-save-route{
  border-color: #14b1ab;
  margin-top: 0;
  background-color: #f9d56e;
  color: #14b1ab;
}

}

.button:hover #btn-save-route.btn-save-route{
  background-color: #f3ecc2 !important;
}

.btn-save-route:active{
  background-color: #14b1ab !important;
  color: white !important;
}







/* Generalized Styling for all pages */
.page-div{
  padding-top: 4vh;
  margin: auto;
  width: 90vw;
  height: 65vh;
}

.page-title{
  margin-left: 0;
  margin-bottom: 3vh;
  font-size: 3rem;
  color: black;
  display: inline-block;
}


.page-left{
  display: inline-block;
  height: 100%;
  width: 70%;
}

.page-right{
  float:right;
  height: 100%;
  width: 30%;
}

.map-box{
  height: 100%;
  width: 100%;
  background-color: grey;
}





/* Styling for outings page */
.card{
  border-style: solid;
  border-color: #14b1ab;
  border-width: 3px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.card-text{
  color: black;
  font-size: 2rem;
  text-align: center;
}

.card-text:hover{
  text-decoration: none !important;
}

.outings-link:hover{
  text-decoration: none !important;
}

.card-body{
  background-color: #f3ecc2;
  border-top: solid;
  border-color: #14b1ab;
}

.left-card{
  margin-left: 35%;
}

.left-card:hover{
  opacity: 0.7;
}

.left-card-container{
  display: inline-block;
  margin-top: 8%;
  width: 50%;
}


.right-card{
  margin-right: 35%;
}

.right-card-container{
  display: inline-block;
  float: right;
  margin-top: 8%;
  width: 50%;
}

.right-card:hover{
  opacity: 0.7;
}

.outings-icon{
  font-size: 4rem;
  background-color: #f9d56e;
  color: #e8505b;
  padding-top: 8%;
  padding-bottom: 8%;
  text-align: center;
}




/* styling for new-outing page */
.btn-new-outing{
  color:#14b1ab !important;
  border-color: #14b1ab !important;
}

.btn-new-outing:hover{
  background-color: #f3ecc2;
}

.btn-new-outing:active{
  background-color: #14b1ab !important;
  color: white !important;
}

.new-route-form-container{
  background-color: #f9d56e;
  padding: 2%;
  width: 50%;
}

.runtime-in{
  width: 10%;
}

.time-colon{
  display: inline-block;
}
